#navTabs {
  padding-top: 10%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  // * {
  //   outline: 1px solid red;
  // }
}
.navTab_container-content {
  width: 75% !important;
  // width: fit-content !important;
  // width: 80%;
  margin: 0 auto;
}